
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/register">Register</a>
      <a class="nav-item nav-link" routerLink="/pokedex">Pokedex</a>
      <a class="nav-item nav-link" routerLink="/calculator">Calculator</a>
      <a class="nav-item nav-link" routerLink="/profile">Profile</a>
  </div>
</nav>

<!-- main content container -->
<div>

      <router-outlet></router-outlet>
</div>

