<head>
    <meta charset="utf-8">
  
    <link rel="stylesheet" href="home.component.css">
    
  </head>
  
    <body>
        <div class="container flex-center">
            <h2>PokeWeb</h2>
            &nbsp;
                <div style="display: flex; flex-direction: row;">
                    <a routerLink="/pokedex">
                        <p style="text-align:center;">
                            Pokedex
                            <img src="../../assets/pokedex.png" width="500" height="280">
                        </p>
                    </a>
                    <a routerLink="/calculator">
                        <p style="text-align:center;">
                            Calculator
                            <img src="../../assets/calculadora.png" width="500" height="280">
                        </p>
                    </a>
                    <a routerLink="/profile">
                        <p style="text-align:center;">
                            Profile
                            <img src="../../assets/pokeball.png" width="500" height="280">
                        </p>
                    </a>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <table>
                    <a routerLink="/login">
                        <th>Login</th>
                    </a>
                    &nbsp;
                    <a routerLink="/register">
                        <th>Register</th>
                    </a>
                    </table>
                </div>
            </div>
    </body>